# DMABUF
CONFIG_DMABUF_HEAPS_SYSTEM=m

# Persistent store
CONFIG_PSTORE=m
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_LZ4_COMPRESS=m
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=m

# DRM
CONFIG_DRM=m
CONFIG_DRM_MSM=m
CONFIG_DRM_PANEL_MSM8953_GENERATED=m
CONFIG_DRM_PANEL_CSOT_622_V0=m
CONFIG_DRM_PANEL_HIMAX_HX8399C_FHDPLUS=m
CONFIG_DRM_PANEL_MDSS_FT8716_FHD=m
CONFIG_DRM_PANEL_MDSS_ILI7807_FHD=m
CONFIG_DRM_PANEL_MDSS_ILI7807_FHDPLUS=m
CONFIG_DRM_PANEL_MDSS_NT35596_EBBG=m
CONFIG_DRM_PANEL_MDSS_OTM1911_FHD=m
CONFIG_DRM_PANEL_MDSS_OTM1911_FHDPLUS=m
CONFIG_DRM_PANEL_MDSS_R63350=m
CONFIG_DRM_PANEL_OFILM_622_V0=m
CONFIG_DRM_PANEL_TENOR_HX8399C_AUO=m
CONFIG_DRM_PANEL_TENOR_ILI7807D_DJN_AUO=m
CONFIG_DRM_PANEL_TENOR_ILI7807D_DJN=m
CONFIG_DRM_PANEL_XIAOMI_AUO_R61322=m
CONFIG_DRM_PANEL_XIAOMI_BOE_ILI9885=m
CONFIG_DRM_PANEL_XIAOMI_EBBG_R63350=m
CONFIG_DRM_PANEL_XIAOMI_NT35532=m
CONFIG_DRM_PANEL_XIAOMI_NT36672_CSOT_FHDPLUS_E7=m
CONFIG_DRM_PANEL_XIAOMI_NT36672_TIANMA_FHDPLUS_E7=m
CONFIG_DRM_PANEL_XIAOMI_ONCLITE_HX8394F=m
CONFIG_DRM_PANEL_XIAOMI_ONCLITE_ILI9881=m
CONFIG_DRM_PANEL_XIAOMI_ONCLITE_OTM1901A=m
CONFIG_DRM_PANEL_XIAOMI_OTM1911=m
CONFIG_DRM_PANEL_XIAOMI_ROSY_FT8006M_BOE=m
CONFIG_DRM_PANEL_XIAOMI_ROSY_FT8613_CSOT=m
CONFIG_DRM_PANEL_XIAOMI_ROSY_FT8613_EBBG=m
CONFIG_DRM_PANEL_XIAOMI_TD4310_EBBG_FHDPLUS_E7=m
CONFIG_DRM_PANEL_XIAOMI_TD4310_FHDPLUS_E7_G55=m
CONFIG_DRM_PANEL_XIAOMI_TD4310_FHDPLUS_E7=m
CONFIG_DRM_PANEL_XIAOMI_TIANMA_NT35596=m
CONFIG_DRM_PANEL_XIAOMI_TIANMA_R63350=m
CONFIG_DRM_PANEL_XIAOMI_YSL_HX8394F=m
CONFIG_DRM_PANEL_XIAOMI_YSL_ILI7807D=m
CONFIG_DRM_PANEL_XIAOMI_YSL_ILI9881C=m

# Backlight
CONFIG_BACKLIGHT_PWM=m
CONFIG_BACKLIGHT_QCOM_WLED=m

# Bluetooth
CONFIG_BT_LE=y
CONFIG_BT_QCOMSMD=m

# Wi-Fi
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_QCOM_WCNSS_CTRL=m
CONFIG_QCOM_WCNSS_PIL=m
CONFIG_WCN36XX=m

# I2C
CONFIG_I2C_QCOM_CCI=m
CONFIG_I2C_QUP=m

# Power keys
CONFIG_INPUT_PM8941_PWRKEY=m

# Interconnect
CONFIG_INTERCONNECT_QCOM_MSM8953=m

# Power
CONFIG_BATTERY_QCOM_FG=m
CONFIG_CHARGER_QCOM_SMBCHG=m

# SDHCI
CONFIG_MMC_SDHCI_MSM=m

# USB
CONFIG_EXTCON_USB_DUMMY=m
CONFIG_PHY_QCOM_QUSB2=m
CONFIG_USB_CHIPIDEA=m
CONFIG_USB_DWC3_QCOM=m

# Audio
CONFIG_SND_SOC_APQ8016_SBC=m
CONFIG_SND_SOC_AW8738=m
CONFIG_SND_SOC_MAX98927=m
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=m
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=m
CONFIG_SND_SOC_QCOM=m
CONFIG_SND_SOC_QDSP6=m
CONFIG_SND_SOC_QDSP6_Q6VOICE=m

# UART
CONFIG_SERIAL_MSM=m
CONFIG_SERIAL_MSM_CONSOLE=y

# pinctrl
CONFIG_PINCTRL_MSM=m
CONFIG_PINCTRL_MSM8917=m
CONFIG_PINCTRL_MSM8937=m
CONFIG_PINCTRL_MSM8953=m
CONFIG_PINCTRL_QCOM_SPMI_PMIC=m

# LEDs
CONFIG_LEDS_ATC=m
CONFIG_LEDS_AW2013=m
CONFIG_LEDS_QCOM_LPG=m

# Regulator
CONFIG_REGULATOR_QCOM_LABIBB=m
CONFIG_REGULATOR_QCOM_SMD_RPM=m
CONFIG_REGULATOR_QCOM_SPMI=m

# Touchscreen
CONFIG_RMI4_CORE=m
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_I2C=m
CONFIG_TOUCHSCREEN_EDT_FT5X06=m
CONFIG_TOUCHSCREEN_GOODIX=m
CONFIG_TOUCHSCREEN_NT36XXX=m

# Sensors
CONFIG_AK8975=m
CONFIG_BMI160_I2C=m
CONFIG_BMI160=m
CONFIG_IIO_ST_LSM6DSX_I2C=m
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_LTRF216A=m

# Video codecs
CONFIG_VIDEO_QCOM_CAMSS=m
CONFIG_VIDEO_QCOM_VENUS=m

# Camera
CONFIG_VIDEO_OV5675=m
CONFIG_VIDEO_S5K2XX=m

# IR
CONFIG_IR_GPIO_TX=m

# Vibrator
CONFIG_INPUT_GPIO_VIBRA=m

# SoC
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=m
CONFIG_ARM_SMMU=m
CONFIG_ARM_SMMU_QCOM=m
CONFIG_COMMON_CLK_QCOM=m
CONFIG_CRYPTO_DEV_QCOM_RNG=m
CONFIG_EXTCON_QCOM_SPMI_MISC=m
CONFIG_HWSPINLOCK_QCOM=m
CONFIG_MFD_QCOM_RPM=m
CONFIG_MFD_SPMI_PMIC=m
CONFIG_MSM_GCC_8953=m
CONFIG_NVMEM_QCOM_QFPROM=m
CONFIG_POWER_RESET_MSM=y
CONFIG_POWER_RESET_QCOM_PON=m
CONFIG_QCOM_A53HFPLL=m
CONFIG_QCOM_APCS_IPC=m
CONFIG_QCOM_APR=m
CONFIG_QCOM_BAM_DMA=m
CONFIG_QCOM_BAM_DMUX=m
CONFIG_QCOM_CLK_APCS_MSM8953=m
CONFIG_QCOM_CLK_SMD_RPM=m
CONFIG_QCOM_CPR4PD=m
CONFIG_QCOM_GSBI=m
CONFIG_QCOM_IPA2_LITE=m
CONFIG_QCOM_IOMMU=y
CONFIG_QCOM_MEMSHARE_QMI_SERVICE=m
CONFIG_QCOM_Q6V5_MSS=m
CONFIG_QCOM_Q6V5_PAS=m
CONFIG_QCOM_RMTFS_MEM=m
CONFIG_QCOM_RPMPD=m
CONFIG_QCOM_SCM=m
CONFIG_QCOM_SMD_RPM=m
CONFIG_QCOM_SMEM=m
CONFIG_QCOM_SMP2P=m
CONFIG_QCOM_SMSM=m
CONFIG_QCOM_SOCINFO=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m
CONFIG_QCOM_SPMI_VADC=m
CONFIG_QCOM_TSENS=m
CONFIG_QCOM_WDT=m
CONFIG_RPMSG_QCOM_SMD=m
CONFIG_RTC_DRV_PM8XXX=m
CONFIG_SPI_QUP=m
CONFIG_SPMI_MSM_PMIC_ARB=m

# QRTR
CONFIG_QRTR=m
CONFIG_QRTR_SMD=m

## This breaks booting, which is enabled from gki_defconfig
# CONFIG_UNWIND_PATCH_PAC_INTO_SCS is not set

# Debug: fbcon
#CONFIG_FB=m
#CONFIG_FB_SIMPLE=m
#CONFIG_DRM_FBDEV_EMULATION=m
#CONFIG_VT=m
#CONFIG_FRAMEBUFFER_CONSOLE=m
#CONFIG_LOGO=m
